@font-face {
    font-family: 'BYekan';
    src: url('../fonts/BYekan.eot') format('eot'), url('../fonts/BYekan.ttf') format('ttf'), url('../fonts/BYekan.woff') format('woff');
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.3.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: BYekan;
}

a:hover {
    text-decoration: none;
}

a {
    text-decoration: none;
}

.header-custom {
    font-size: 15px;
    padding: 1px 0 0;
}

.header-custom li a {
    color: #7f848f;
}

.header-custom li a:hover,
a:hover,
.header-custom li a:focus {
    color: #ef3f3e;
}

.header-custom {
    color: #7f848f;
    padding: 1px 0 0;
}

header {
    min-height: 98px;
    border-bottom: 1px solid #eff0f2
}

.footer-panel1 {
    background-color: #6d717a;
    color: #fff;
    padding: 10px 0px;
    <<<<<<< HEAD
}

.basket-icon {
    background-color: #62b965;
    color: #fff;
    padding: 7px;
}

.basket {
    margin: 20px;
    width: 195px;
}

.basket-textpart {
    background-color: #4caf50;
    padding: 7px;
    min-height: 43px;
    color: #fff;
}

.basket-text {
    margin-right: 28px;
    font-size: 16px
}

.basket-count {
    font-family: arial;
    width: 24px;
    height: 24px;
    float: left;
    margin: 2px 2px 0 15px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #5fbf63;
    color: #fff;
    text-align: center;
    line-height: 24px;
}