@font-face {
    font-family: 'BYekan';
    src: url('../fonts/BYekan.eot') format('eot'), url('../fonts/BYekan.ttf') format('ttf'), url('../fonts/BYekan.woff') format('woff');
}

@font-face {
    font-family: 'IranSans';
    src: url('../fonts/IRANSansWeb(FaNum).eot') format('eot'), url('../fonts/IRANSansWeb(FaNum).ttf') format('ttf'), url('../fonts/IRANSansWeb(FaNum).woff') format('woff');
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.3.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: IranSans;
}

body {
    background: #eeeff1;
    color: #4d4d4d;
}

a:hover {
    text-decoration: none;
}

a {
    text-decoration: none;
}

.header-custom {
    font-size: 15px;
    padding: 1px 0 0;
}

.header-custom li a {
    color: #7f848f;
}

.header-custom li a:hover,
a:hover,
.header-custom li a:focus {
    color: #ef3f3e;
}

a:hover {
    color: #ef3f3e;
}

.header-custom {
    color: #7f848f;
    padding: 1px 0 0;
}

header {
    min-height: 98px;
    background: white;
}

.footer-panel1 {
    background-color: #6d717a;
    color: #fff;
    padding: 10px 0px;
}
.footer-panel2{
    background-color: #f7f8fa;
}
.footer-panel2 .title{
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-panel2 .item{
    margin-top: 20px;
}

.social-icon{
    width: 40px;
    height: 40px;
}
.social-section{
    margin-top: 30px;
}
.banner{
    width: 100%;
}
.news-panel{
    margin-top: 10px;
}
.item .title .date{
    color: #b0b0b0;
}
.item .title .text{
    line-height: 20px;
}
.subscribe-email{
    width: 100%;
    font-size: 18px;
    padding: 5px;
    border: 1px solid #c9d1d7;
    border-radius: 2px;
}
.dk-button{
    padding: 9px 30px;
    background-color: #3ca3f4;
    color: #fff;
}
.footer-panel3{
    background-color: #fff;
}
.footer-panel3 .title{
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer-panel3 .item{
    margin-top: 20px;
}
.footer-panel4{
    background-color: #646871;
    color: #bbb;
}
.footer-panel4 a{
    color: #fff;
}
.footer-panel5{
    background-color: #fff;
}
.text-multi-row{
    line-height: 160%;
}

.basket-icon {
    color: #fff;
    padding: 7px;
    margin-right: 5px;
}

.basket-icon-part {
    background-color: #62b965;
    width: 30%;
    min-height: 46px;
    border-radius: 0 4px 4px 0;
}

.basket {
    width: 190px;
}

.basket-textpart {
    background-color: #4caf50;
    padding: 7px;
    min-height: 46px;
    color: #fff;
    border-radius: 4px 0 0 4px;
    width: 70%
}

.basket-text {
    margin-right: 10px;
    font-size: 16px;
}

.basket-count {
    font-family: arial;
    width: 24px;
    height: 24px;
    float: left;
    margin: 2px 2px 0 15px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #5fbf63;
    color: #fff;
    text-align: center;
    line-height: 24px;
}


/************main menu************/

.menu-main-container {
    background: #f7f8fa;
    border-top: 1px solid #eff0f2;
    border-bottom: 1px solid #e3e4e5;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .12);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .12);
    /* -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.12); */
    -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, .12);
    -o-box-shadow: 0 1px 2px rgba(0, 0, 0, .12);
    /*height: 40px;
    min-width: 980px;*/
    margin-bottom: 10px;
}

#menu {
    color: black;
}

.navbar-nav-custom li a {
    color: #000;
}

.navbar-nav-custom li a:hover {
    line-height: 20px;
    color: #ef3f3e;
    background: 0 0;
}

/*slider effect*/
.carousel .item{
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
}
.carousel .active.left, .carousel .active.right{
    left:0;
    opacity:0;
    z-index: 2;
}
.carousel .carousel-control{
    opacity: 1;
}
.carousel .next, .carousel .prev{
    left:0;
    opacity:1;
    z-index: 1;
}
.carousel .carousel-control{
    visibility: hidden;
}
.carousel:hover .carousel-control{
    visibility:visible;
    cursor: pointer;
}

/*slider style*/
.slider-padding{
    padding: 0px;
}
.carousel-inner img{
    max-height: 70vh;
    width: 100%;
}
